body{
    background-image: url(http://66.media.tumblr.com/8b4a2859adf37842c6f5d38f360097c3/tumblr_nm18vkEP9l1qjjl87o1_r1_540.gif);
    background-color: black;
}
.menu{
    vertical-align: middle;
    text-align: center;
    position: relative;
}
#iea{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    vertical-align: middle;
    text-align: center;
    margin-top: 15%; 
}
a{
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color: red;
}
.iso{
    position: relative;
    margin-left: 1%;
    margin-top: 1%;
    width: 50px;
    height: 50px;
    background-color: white;
}
h1{
    color: white;
    font-size: 30px;
    margin-left: 10%
}
h2{
    color: white;
    font-size: 30px;
    margin-left: 10%
}
h3{
    color: white;
    font-size: 30px;
    margin-left: 10%
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.texto{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.Guitarra{
    vertical-align: bottom;
    text-align: center;
    margin-top: 10%;
}
